body{
	background-color: lightgray;
	font: Calibri;
}

h1,h2,h3{
	font: "Time New Roman";
	font-size: 50px;
	text-align: center;
}
p, li{
	color: red;
}

em, strong{
	color: blue;
}

li{
	list-style-type: square;
	margin: 10px;
}

a:link{
	color: blue;
	text-decoration: none;
}

img{
	border-radius: 25%;
}

ol li{
	list-style-type: circle;
	color: blue;
}

img:hover{
	opacity: .5;
}

pre{
	background-color: black;
	color: green;
	border: solid;
	margin: 5px;
}

table{
	border: solid;
	padding: 5px;
}